body {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
  background-color: #fff;
}
a {
  text-decoration: none;
}
li {
  list-style: none;
}
.header-area {
  background: #fff8f3;
}
/* ---------------nav style-------------- */
.text-primerry {
  color: #fd6e0a;
}
.btn-primerry {
  color: #fff;
  font-size: 20px;
  font-weight: 700;
  background: #fd6e0a;
  border-radius: 5px;
  border: none;
  padding: 18px 35px;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 225px;
}
nav h3 a {
  color: #181818;
  font-size: 45px;
  font-weight: 800;
}
nav > ul {
  display: flex;
  align-items: center;
}
nav ul li {
  padding: 0 25px;
}
nav ul li a {
  color: #000000;
  font-size: 20px;
}
